@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Poppins", sans-serif; */
}

@keyframes marquee-scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes marquee-scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-left {
  animation: marquee-scroll-left 70s linear infinite;
}

.animate-marquee {
  animation: marquee-scroll 50s linear infinite;
}
